
<footer xmlns:th="http://www.thymeleaf.org">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<span class="glyphicon glyphicon-signal"></span> <span
					class="font-contain-topic ">Contant</span>
			</div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-envelope font-contain"><b>Email
						:</b><br /> <br />&nbsp;cakem2050@gmail.com</span> <span
					class="glyphicon glyphicon-pencil font-contain"><b>Address
						:</b><br /> <br />&nbsp;379/9 หมู่.3 ตำบล.ซับสมอทอด อำเภอบึงสามพัน<br /> <br />จังหวัดเพชรบูรณ์</span>
			</div>
			<div class="col-md-2 col-md-offset-1">
				<a href="#"><img th:src="@{/assets/image/logo_fb.png}" width="30px" /></a>&nbsp;&nbsp;&nbsp;
				<a href="#"><img th:src="@{/assets/image/logo_twiter.png}" width="30px" /></a>
			</div>
		</div>
	</div>

</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>