<header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span
					style="color: rgb(241, 116, 14);"><b>MOVIE</b></span>Store</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a class="tag-A" href="/UserManagement">จัดการผู้ใช้งาน<span class="sr-only">(current)</span></a></li>
					<li><a class="tag-A" href="/ManagementMovie">จัดการหนัง</a></li>
					<li><a class="tag-A" href="/PageMovie">เพิ่มหนัง</a></li>
					<li><a class="tag-A" href="#">เพิ่มโปรโมชั่น</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div align="right" class="profile">
							<a href="/checkLogout" class="btn btn-danger nav-btn-A"><span
								class="glyphicon glyphicon-log-out"></span></a>
						</div>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-->
	</nav>
</header>

