<header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">หน้าหลัก<span
							class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left inline">
						<button class="btn btn-info" data-toggle="modal"
							data-target="#ModalLogin" type="button">Sign In</button>
						<a class="btn btn-success" data-toggle="modal"
							data-target="#ModalRegister" href="">Sign Up</a>
					</form>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
			<!-- /.Modal-Login -->
			<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div align="center">
								<h3 class="modal-title" id="myModalLabel">Sign In</h3>
							</div>
						</div>
						<div class="modal-body">
							<form action="/checkLogin" method="post">
								<div class="row">
									<div class="form-group col-md-8 col-md-offset-2">
										<input type="text" class="form-control" placeholder="Username" name="username"/>
									</div>
								</div>
								<div class="row">
									<div class="form-group  col-md-8 col-md-offset-2">
										<input type="password" class="form-control"
											placeholder="Password" name="password"/>
									</div>
								</div>
								<div class="row">
									<div align="center">
										<button type="submit" class="btn btn-info">login</button>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
			<!-- /.End Modal -->
			<!-- /.Modal-Register -->
			<div class="modal fade " id="ModalRegister" tabindex="-1"
				role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div align="center">
								<h3 class="modal-title">Sign Up</h3>
							</div>
						</div>
						<div class="modal-body">
							<form action="/signup" method="post">
								<div class="row">
									<div class="form-group col-md-5 col-md-offset-2">
										<label>ผู้ใช้งาน</label> <input type="text"
											class="form-control" placeholder="Username" name="username"/>
									</div>
								</div>
								<div class="row">
									<div class="form-group  col-md-4 col-md-offset-2">
										<label>รหัสผ่าน</label> <input type="password"
											class="form-control" placeholder="Password" name="password"/>
									</div>
									<div class="form-group  col-md-4 ">

										<label>ยืนยันรหัสผ่าน</label> <input type="password"
											class="form-control" placeholder="ConfirmPassword" />
									</div>
								</div>

								<div class="row">
									<div class="form-group col-md-5 col-md-offset-2">
										<label>Email Address</label> <input type="email"
											class="form-control" placeholder="Email Address" name="email"/>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group  col-md-4 col-md-offset-2">
										<label>ชื่อ-นามสกุล</label> <input type="text"
											class="form-control" placeholder="ชื่อ-นามสกุล" name="fullname"/>
									</div>
									<div class="form-group  col-md-4">

										<label>เบอร์โทรศัพท์</label> <input type="text"
											class="form-control" placeholder="xxxxxxxxxx" name="tel"/>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col-md-8 col-md-offset-2">
										<label>ที่อยู่</label>
									    <textarea rows="" class="form-control" name="address"></textarea>
									</div>
								</div>

								<div class="row">
									<div align="center">
										<button type="submit" class="btn btn-info">ยืนยัน</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">ยกเลิก</button>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
			<!-- /.End Modal -->
		</div>
		<!-- /.container-->
	</nav>
</header>

