<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
<title>Movie Store</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-swidth, initial-scale=1" />

<!-- Bootstrap -->
<link 
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<!-- myStyle -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/myStyle.css}"  />

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- My JavaScript -->
<script th:src="@{/assets/myJs.js}"></script>
</head>