<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<object th:include="headinclude :: head" th:remove="tag" />
</head>
<body>
	<div></div>

	<div th:include="${header}"></div>
	<section class="main">
		<!-- Start container -->
		<div class="container">
			<!-- Pattern -->
			<div class="mainmargin" style="margin-bottom: 200px">
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<div class="panel-heading" align="center">
						<h3>เติมเงิน</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<a href="#" data-toggle="modal" data-target="#50bath"> <img
									th:src="@{/image/cash/50.png}" style="width: 100%" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" data-toggle="modal" data-target="#100bath"> <img
									th:src="@{/image/cash/100.png}" style="width: 100%" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" data-toggle="modal" data-target="#500bath"> <img
									th:src="@{/image/cash/500.png}" style="width: 100%" />
								</a>
							</div>
							<div class="col-md-3">
								<a href="#" data-toggle="modal" data-target="#1000bath"> <img
									th:src="@{/image/cash/1000.png}" style="width: 100%" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Pattern -->
			<!-- Modal 50 -->
			<div class="modal fade" id="50bath" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header"
							style="background-color: #337ab7; color: white;">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">ยืนยันการเติมเงิน
								50 บาท</h4>
						</div>
						<form action="/AddMoney" method="post">
							<div class="modal-body">

								<div class="col-md-6">
									<select class="form-control">
										<option>กรุงไทย</option>
										<option>กรุงเทพ</option>
										<option>ไทยพาณิชย์</option>
										<option>กสิกรไทย</option>
									</select>
								</div>
								<div class="col-md-6">
									<input class="form-control" placeholder="เลขบัญชี" type="text"
										required="required" />
								</div>
								<input type="hidden" name="value" value="50" />
							</div>
							<div class="modal-footer">
								<br />
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ยกเลิก</button>
								<button type="submit" class="btn btn-primary">ยืนยัน</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- End 50 -->
			<!-- Modal 100 -->
			<div class="modal fade" id="100bath" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header"
							style="background-color: #337ab7; color: white;">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">ยืนยันการเติมเงิน
								100 บาท</h4>
						</div>

						<form action="/AddMoney" method="post">
							<div class="modal-body">
								<div class="col-md-6">
									<select class="form-control">
										<option>กรุงไทย</option>
										<option>กรุงเทพ</option>
										<option>ไทยพาณิชย์</option>
										<option>กสิกรไทย</option>
									</select>
								</div>
								<div class="col-md-6">
									<input class="form-control" placeholder="เลขบัญชี" type="text"
										required="required" />
								</div>
								<input type="hidden" name="value" value="100" />
							</div>
							<div class="modal-footer">
								<br />
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ยกเลิก</button>
								<button type="submit" class="btn btn-primary">ยืนยัน</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- End 100 -->
			<!-- Modal 500 -->
			<div class="modal fade" id="500bath" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header"
							style="background-color: #337ab7; color: white;">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">ยืนยันการเติมเงิน
								500 บาท</h4>
						</div>

						<form action="/AddMoney" method="post">
							<div class="modal-body">
								<div class="col-md-6">
									<select class="form-control">
										<option>กรุงไทย</option>
										<option>กรุงเทพ</option>
										<option>ไทยพาณิชย์</option>
										<option>กสิกรไทย</option>
									</select>
								</div>
								<div class="col-md-6">
									<input class="form-control" placeholder="เลขบัญชี" type="text"
										required="required" />
								</div>
								<input type="hidden" name="value" value="500" />
							</div>
							<div class="modal-footer">
								<br />
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ยกเลิก</button>
								<button type="submit" class="btn btn-primary">ยืนยัน</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- End 500 -->
			<!-- Modal 1000 -->
			<div class="modal fade" id="1000bath" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header"
							style="background-color: #337ab7; color: white;">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">ยืนยันการเติมเงิน
								1000 บาท</h4>
						</div>

						<form action="/AddMoney" method="post">
							<div class="modal-body">
								<div class="col-md-6">
									<select class="form-control">
										<option>กรุงไทย</option>
										<option>กรุงเทพ</option>
										<option>ไทยพาณิชย์</option>
										<option>กสิกรไทย</option>
									</select>
								</div>
								<div class="col-md-6">
									<input class="form-control" placeholder="เลขบัญชี" type="text"
										required="required" />
								</div>
								<input type="hidden" name="value" value="1000" />
							</div>
							<div class="modal-footer">
								<br />
								<button type="button" class="btn btn-default"
									data-dismiss="modal">ยกเลิก</button>
								<button type="submit" class="btn btn-primary">ยืนยัน</button>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- End 1000 -->
		</div>
		<!-- End Container -->
	</section>
	<div th:include="footer"></div>
</body>
</html>
