<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<object th:include="headinclude :: head" th:remove="tag" />
</head>
<body>
	<div></div>

	<div th:include="${header}"></div>
	<section class="main">
		<!-- Start container -->
		<div class="container">
			<div class="mainmargin">
				<!-- BiG ROW -->
				<div class="row">
					<div class="col-md-9">
						<!-- Start Row -->
						<div class="row">
							<div class="col-md-12">
								<div class="thumbnail">
									<ul class="nav nav-tabs">
										<li role="presentation" class="active"><a
											style="background-color: rgb(255, 175, 54); color: white;"><b>หนังทั้งหมด</b></a></li>
									</ul>
									<div id="carousel-example-generic2" class="carousel slide"
										data-ride="carousel" data-interval="0">
										<!-- Indicators -->

										<ol class="carousel-indicators">

											<li data-target="#carousel-example-generic" data-slide-to="0"
												class="active"></li>
											<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										</ol>

										<!-- Wrapper for slides -->
										<div class="row">
											<!-- item -->
											<div class="col-md-3" th:each="movielist,aStart:${movie}" >
												<div class="thumbnail">
													<img style="height: 200px" th:src="@{${movielist.movie_img}}" alt="..." />
													<div class="caption">
														<h3 th:text="${movielist.movie_name}">Thumbnail label</h3>
														
														<p>
															<a
																th:href="@{/BuyMovie?idmovie={id}(id=${movielist.movie_id})}"
																class="btn btn-warning" role="button">ซื้อหนัง</a> <a
																th:href="@{/MovieDetail?movieid={id}(id=${movielist.movie_id})}"
																role="button">รายละเอียด</a>
														</p>
													</div>
												</div>
											</div>
											<!-- item -->
										</div>
									</div>
									<div align="center">
										<nav aria-label="Page navigation">
											<ul class="pagination">
												<li><a th:if="${pagebefore != 0}"
													th:href="'/Movie?pageindex='+${pagebefore}"
													aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
												</a></li>
												<object
													th:each="pagelist:${#numbers.sequence( 1, countpage)}"
													th:remove="tag">
													<li th:if="${pageactive == pagelist}" class="active"><a
														th:href="'/Movie?pageindex='+${pagelist}"
														th:text="${pagelist}"></a></li>
													<li th:unless="${pageactive == pagelist}"><a
														th:href="'/Movie?pageindex='+${pagelist}"
														th:text="${pagelist}"></a></li>
												</object>
												<li><a th:if="${pagenext != countpage+1}"
													th:href="'/Movie?pageindex='+${pagenext}" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
												</a></li>
											</ul>
										</nav>
									</div>
								</div>

							</div>

						</div>
						<!-- EndRow -->
					</div>
					<div class="col-md-3">
						<div class="list-group">
							<a href="#" class="list-group-item disabled"
								style="background-color: #0000FF; color: white">ประเภทหนัง</a> <span
								th:each="listType: ${type}"> <a
								th:href="@{/Movie?getTypeId={id}(id=${listType.type_id})}"
								class="list-group-item" th:text="${listType.type_name}"></a>
							</span>
						</div>
					</div>
				</div>
				<!-- Big -->
				<!-- bottom bar -->
				<div class="row"></div>
				<!-- End bottom bar -->
			</div>
		</div>
		<!-- End Pattern -->
		<!-- End Container -->
	</section>
	<div th:include="footer"></div>
</body>
</html>